<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Easy Statics</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

  <!-- GRAFICO -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>

  <style>
    .tabela{
      height: 700px;
    }
  </style>

</head>

<script type="text/javascript">
  vet100 = window.sessionStorage.getItem("vet100");


  vet100 = vet100.split(',');
  console.log("VETOR: " + vet100);


  // Carrega as funções limpa() e teste() ao iniciar a página
  window.onload = function () {
    limpa(vet100);
    teste();
  }
</script>

<body>
  <!-- Navegador da página -->
  <nav class="navegador" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="../index.html" class="brand-logo">Easy Statics</a>

    </div>
  </nav>

  <!-- Paginação -->
  <nav>
    <div class="nav-wrapper green accent-3 ">
      <div class="col s12 container">
        <a href="../index.html" class="breadcrumb">Início</a>
        <a href="inserir-dados.html" class="breadcrumb">Opções de entrada</a>
        <a href="inserir-dados.html" class="breadcrumb">Entrada de dados</a>
        <a class="breadcrumb">Resultados</a>

      </div>
    </div>
  </nav>

  <!-- GRID -->
  <div class="row tabela">

    <!-- Dados principais (moda, média, mediana, desvio padrão etc) -->

    <div class="col s12 m4 l3">
      <table class="highlight responsive-table">
        <tbody>
          <tr>
            <td>Média</td>
            <td id="media"></td>
          </tr>
          <tr>
            <td>Moda</td>
            <td id="moda"></td>
          </tr>
          <tr>
            <td>Mediana</td>
            <td id="mediana"></td>
          </tr>
          <tr>
            <td>Desvio Padrão</td>
            <td id="desvio"></td>
          </tr>
          <tr>
            <td>Coeficiente</td>
            <td id="coificiente"></td>
          </tr>
        </tbody>
      </table>

      <br><br>
      <!-- Quartil -->
      <a class='dropdown-trigger btn' data-target='dropdown1'>Quartil</a>
      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
      </ul>

      <!-- Quintil -->
      <a class='dropdown-trigger1 btn' data-target='dropdown2'>Quintil</a>
      <!-- Dropdown Structure -->
      <ul id='dropdown2' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
      </ul>

      <!-- Decil -->
      <a class='dropdown-trigger2 btn' data-target='dropdown3'>Decil</a>
      <!-- Dropdown Structure -->
      <ul id='dropdown3' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
      </ul>

    </div>


    <div class="col s12 m8 l9 tabela" style="border:1px solid #29b6f6">
      <!-- Abas -->
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a class="active light-blue-text text-lighten-1" href="#tabela">Tabela</a></li>
            <li class="tab col s3"><a class="light-blue-text text-lighten-1" href="#grafico">Gráfico</a></li>
            <li class="tab col s3"><a class="light-blue-text text-lighten-1" href="#probabilidade">Probabilidade</a></li>
          </ul>
        </div>

        <!-- Tabela -->
        <div id="tabela" class="col s12">
          <div id="outTabela"></div>
        </div>

        <!-- Gráfico -->
        <div id="grafico" class="col s12">
          <div id="container">
            <canvas id="myChart" style="width:284px;height:120px;"></canvas>
          </div>
        </div>

        <!-- Probabilidade -->
        <div id="probabilidade" class="col s12">

          <!-- Abas de  Distribuições -->
          <div class="col s12">
            <br>
            <ul class="tabs">
              <li class="tab col s3"><a class="active light-blue-text text-lighten-1" href="#dis_binomial">Distribuição
                  Binomial</a></li>
              <li class="tab col s3"><a class="light-blue-text text-lighten-1" href="#dis_normal">Distribuição
                  Normal</a></li>
              <li class="tab col s3"><a class="light-blue-text text-lighten-1" href="#dis_uniforme">Distribuição
                  Uniforme</a></li>
            </ul>
          </div>

          <!-- Distribuição Binomial -->
          <div id="dis_binomial" class="col s12">
            <br><br>
            <form class="formulario-validacao" id="form">

              <div class="row">
                <div class="input-field col s3">
                  <input type="text" name="campo" id="Total_N" class="validate">
                  <label class="active" for="nome">Tamanho(N)</label>
                </div>

                <div class="input-field col s3">
                  <input type="text" name="campo" id="Sucesso_S" class="validate">
                  <label class="active" for="nome">Sucesso(S)</label>
                </div>

                <div class="input-field col s3">
                  <input type="text" name="campo" id="Fracasso_F" class="validate">
                  <label class="active" for="nome">Fracasso(F)</label>
                </div>

              </div>

              <div class="input-field col s3">
                <select id="cbopçoes" onchange="optionCheck()">


                  <option value="Ex_igual" selected>EXATAMENTE</option>
                  <option value="Maior_que">MAIOR Que</option>
                  <option value="Menor_que">MENOR Que</option>
                  <option value="Entre">ENTRE</option>
                  <option value="P_menos">Pelo MENOS</option>
                  <option value="Ate">ATÉ</option>
                  <option value="N_Minimo">No MINIMO</option>
                  <option value="N_Maximo">No MAXIMO</option>
                </select>
              </div>

              <div class="input-field col s3">
                <input type="text" name="campo" id="Variavel_K" class="validate">
                <label class="active" for="nome">Variavel(K)</label>
              </div>

              <div id="mostrar" style="border:1px;visibility:hidden;">
                <input type="text" id="maior">
                <label for="nome">Até(Max)</label>
              </div>

              <button type="button" name="submit" value="Enviar" onclick="botao(this.form),casos()" class="css3button">Enviar</button>

              <div id="resultado">
                <h2>Resultado:</h2>
              </div>
            </form>

            <script type="text/javascript" src="../script/dis_binomial.js"></script>

          </div>
          

          <!-- Distribuição Normal -->
          <div id="dis_normal" class="col s12">
            <p>Normal</p>

            <form id="form1">
              <!-- Média -->
              <div class="input-field col s3">
                <input type="text" id="media" class="validate">
                <label class="active" for="nome">Digite a média</label>
              </div>

              <div class="input-field col s3">
                <!-- Desvio Padrão -->
                <input type="text" id="desvioPadrao" class="validate">
                <label class="active" for="nome">Digite o desvio padrão</label>
              </div>

              <div class="input-field col s3">
                <!-- Select -->

                <select id="cbopçoes" onchange="optionCheck()">
                  <option value="Maior_que">MAIOR Que</option>
                  <option value="Menor_que">MENOR Que</option>
                  <option value="Ex_igual">EXATAMENTE</option>
                  <option value="Entre">ENTRE</option>
                </select>
              </div>

              <div class="input-field col s3">
                <!-- Variável -->
                <input type="text" id="variavel" class="validate">
                <label class="active" for="nome">Variável</label>
              </div>


              <div class="input-field col s3" id="mostrar" style="border:1px;visibility:hidden;">
                <label for="nome">Até(Max)</label>
                <input type="text" id="maior" />

              </div>


              <button class="css3button" type="button" value="Confirmar" onclick="botao(this.form),casos()">Enviar</button>


            </form>
            <script type="text/javascript" src="../script/dis_normal.js"></script>
          </div>

          <div id="resultado">
            <h2>Resultado:</h2>
          </div>

        </div>

        <!-- Distribuição Uniforme -->
        <div id="dis_uniforme" class="col s12">
          <p>Uniforme</p>
        </div>


      </div>
    </div>
  </div>

  </div>

  <!-- Rodapé -->
  <footer class="page-footer green accent-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sobre</h5>
          <p class="grey-text text-lighten-4">Nós somos um time de estudantes universitários inovando a
            maneira de
            computar dados estatísticos, visando praticidade e comodidade ao usuário.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Coprodução Equipe de Estatística
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>

  <script type="text/javascript" src="../script/validacaoDaTabela.js"></script>
  <script type="text/javascript" src="../script/Continua.js"></script>
  <script type="text/javascript" src="../script/Discreta.js"></script>
  <script type="text/javascript" src="../script/graficos.js"></script>
  <script type="text/javascript" src="../script/Qualitativa.js"></script>
  


  <!--
  
  <script type="text/javascript" src="../script/dis_uniforme.js"></script>
  -->
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav();
    });

    $(document).ready(function () {
      $('.tabs').tabs();
    });

    // Ativa os botões DROPDOWN
    $('.dropdown-trigger').dropdown();
    $('.dropdown-trigger1').dropdown();
    $('.dropdown-trigger2').dropdown();

    // Ativa o select
    $(document).ready(function () {
      $('select').formSelect();
    });
  </script>

</body>

</html>