<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Easy Statics</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>


  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>


  <nav class="green accent-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="../index.html" class="brand-logo">Easy Statics</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Help</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger bnt" id="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>

  <!-- Navegador da página -->
  <nav>
    <div class="nav-wrapper light-blue lighten-1">
      <div class="col s12 container">
        <a href="../index.html" class="breadcrumb">Home</a>
        <a class="breadcrumb">Entrada de dados</a>
      </div>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>

      <div class="center container">
        <div class="section">
          <!--   Icon Section   -->
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">keyboard</i></h2>
            <h4 class="center light-blue-text text-lighten-1">Inserção de dados</h4>
            <p class="light">Você pode inserir os dados manualmente ou importar um arquivo(.csv)</p>
          </div>
        </div>
      </div>

      <br><br>
      <div class="row center">
        <a href="manualmente.html" id="download-button" class="btn-large waves-effect waves-light light-blue lighten-1">MANUALMENTE</a>
        <a href="importar.html" id="download-button" class="btn-large waves-effect waves-light light-blue lighten-1"><i
            class="small material-icons right">file_upload</i>IMPORTAR</a>
      </div>
    </div>
  </div>

  <br><br>
  <br><br>

  <footer class="page-footer green accent-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sobre</h5>
          <p class="grey-text text-lighten-4">Nós somos um time de estudantes universitários inovando a maneira de
            computar dados estatíscos, visando praticidade e comodidade ao usuário.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Coprodução Equipe de Estatística
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>

</body>

</html>