<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Easy Statistics</title>

  <!-- Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="navegador" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="../index.html" class="brand-logo">Easy Statistics</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Help</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container center">

      <h3 class="light-blue-text">Recuperar Senha</h3>
      <br>
      <!-- Sessão de Cadastro -->
      <div class="row">
        <form class="col s10">
          <div class="row">
            <div class="input-field col s5 offset-s5">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
        </form>
      </div>

      <div class="col s12 m6 l3">
        <a onclick="M.toast({html: 'Usuário cadastrado com sucesso!'})" href="inserir-dados.html" id="download-button"
          class="btn-large waves-effect waves-light light-blue lighten-1">RECUPERAR</a>
      </div>
      <br>
    </div>
  </div>

  <div class="center container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">help</i></h2>
        <h5 class="center">Recupere sua senha</h5>
        <p class="light">Informe o endereço de e-mail que você cadastrou que iremos confirmar a existência dele e enviar a senha para você.</p>
      </div>
      <br><br>
    </div>
  </div>

  <footer class="page-footer green accent-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sobre</h5>
          <p class="grey-text text-lighten-4">Nós somos um time de estudantes universitários inovando a maneira de
            computar dados estatísticos, visando praticidade e comodidade ao usuário.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Coprodução Equipe de Estatística
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>

</body>

</html>